extends layout

block content
  section(ng-controller="index")
    .row
      .well.col-sm-4.col-md-3
        form(ng-submit="addTil($event)")
          .input-group
            input(ng-model="tilInput" name="tilInput" placeholder="today I learned...").form-control
      .col-sm-8.col-md-5
        ul
          li(ng-repeat="til in tils")
            {{til.text}}

